.place__like-icon {
  width: 21px;
  height: 19px;
  border: none;
  background-color: #fff;
  margin-right: 22px;
  margin-left: auto;
  background-image: url('../../../images/Like.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: flex-end;
}

.place__like-icon:hover {
  transition: .05s ease-in .01s;
  opacity: .3;
  cursor: pointer;
}
